.clients {
    padding-block: 20px 40px;

    &__header {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 40px;

        &-title {
            font-size: 32px;
            font-weight: 600;
        }

        &-description {
            font-size: 20px;
            font-weight: 400;
        }
    }

    &__filters {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        margin-bottom: 40px;

        &-left {
            display: flex;
            align-items: center;
            gap: 40px;
            width: 100%;
        }

        &-input {
            max-width: 428px;

            &-container {
                display: flex;
                align-items: center;
                gap: 40px;
                width: 100%;
            }

            &-button {
                font-size: 16px;
            }
        }

        &-radio {
            &-wrapper {
                width: fit-content;
            }
        }

        &-create {
            font-size: 16px;
            font-weight: 600;
            padding: 8px 16px;
            height: 40px;
            min-height: 40px;
            width: fit-content;
            min-width: max-content;

            &-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                width: 24px;
                height: 24px;
            }
        }
    }

    &__card {
        --clients-card-gap: 12px;

        display: flex;
        align-items: center;
        gap: var(--clients-card-gap);
        background-color: #FFFFFF;
        border-radius: 12px;
        box-shadow: 0px 4px 13.4px -5px #00000042;
        padding: 24px 16px;

        &-container {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &-divider {
            --d-divider-margin: 0;
            --d-divider-length: 20px;
        }

        &-top,
        &-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        &-top {
            gap: 20px;
        }

        &-bottom {
            gap: 8px;
        }

        &-left,
        &-right,
        &-right-left,
        &-right-right,
        &-info,
        &-data,
        &-contact-container,
        &-price-container {
            flex-grow: 1;
        }

        &-left,
        &-right,
        &-right-left,
        &-right-right,
        &-data {
            display: flex;
            align-items: center;
            gap: var(--clients-card-gap);
        }

        &-right {
            &-right {
                justify-content: space-between;
            }
        }

        &-info {
            display: flex;
            gap: 8px;

            &-image {
                object-fit: contain;
                width: 100%;
                height: 100%;

                &-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #FBFBFB;
                    border-radius: 50%;
                    overflow: hidden;
                    width: 32px;
                    height: 32px;
                }
            }

            &-content {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }

            &-title {
                font-size: 16px;
                font-weight: 600;
            }

            &-address {
                display: flex;
                gap: 8px;
                color: #757575;
                font-size: 14px;
                font-weight: 500;

                &-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 13px;
                    width: 16px;
                    height: 16px;
                }
            }
        }

        &-inn {
            display: flex;
            align-items: center;
            gap: 8px;

            &-label {
                color: #757575;
                font-size: 16px;
                font-weight: 600;
            }

            &-value {
                font-size: 16px;
                font-weight: 400;
            }
        }

        &-contact {
            display: flex;
            align-items: center;
            gap: 8px;

            font-size: 16px;
            font-weight: 400;

            &-container {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }

            &-icon {
                color: #757575;
                font-size: 16px;
            }
        }

        &-price {
            --clients-card-price-color: #282828;

            display: flex;
            align-items: center;
            gap: 4px;

            border: 1px solid transparent;
            background-color: #EDEDED;
            border-radius: 53px;
            font-size: 16px;

            padding: 2px 16px;
            height: 28px;
            width: fit-content;
            min-width: max-content;

            &--secondary {
                --clients-card-price-color: #F92C0D;

                background-color: transparent;
                border-color: #F92C0D;
                padding: 2px 8px;
            }

            &-container {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }

            &-label,
            &-value {
                color: var(--clients-card-price-color);
                font-weight: 500;
            }
        }

        &-vendor {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #CDF0A9;
            border-radius: 53px;
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            padding: 4px 8px;
        }

        &-offer {
            gap: 8px;
            font-size: 16px;
            font-weight: 600;
            padding: 8px 16px;
            height: 40px;
            min-height: 40px;
            width: fit-content;

            &-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                width: 24px;
                height: 24px;
            }
        }

        &-action {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            width: 40px;
            height: 40px;

            &-container {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
    }

    @media (width <=1920px) {
        &__header {
            margin-bottom: 32px;

            &-title {
                font-size: 20px;
            }

            &-description {
                font-size: 14px;
            }
        }

        &__filters {
            gap: 24px;

            &-left,
            &-input-container {
                gap: 24px;
            }

            &-create {
                height: 38px;
                min-height: 38px;
            }
        }

        &__card {
            padding: 16px;

            &-info {
                &-title {
                    font-size: 14px;
                }

                &-address {
                    font-size: 12px;
                }
            }

            &-inn {

                &-label,
                &-value {
                    font-size: 14px;
                }
            }

            &-contact {
                font-size: 14px;
            }

            &-price {
                font-size: 14px;
                padding: 2px 12px;
                height: 24px;
            }

            &-vendor {
                font-size: 14px;
            }

            &-offer {
                height: 38px;
                min-height: 38px;
            }

            &-action {
                width: 34px;
                height: 34px;
            }
        }
    }

    @media (width <=1536px) {
        &__header {
            &-title {
                font-size: 16px;
            }

            &-description {
                font-size: 12px;
            }
        }

        &__filters {

            &-left,
            &-input-container {
                gap: 16px;
            }

            &-radio {
                &-label {
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }

        &__card {
            &-data {
                align-items: flex-start;
                flex-direction: column;
                gap: 8px;

                &-divider {
                    display: none;
                }
            }

            &-inn-value,
            &-contact,
            &-address,
            &-price,
            &-vendor {
                font-size: 12px;
            }

            &-info {
                &-image {
                    &-container {
                        width: 28px;
                        height: 28px;
                    }
                }
            }

            &-price {
                padding: 4px 8px;

                &--secondary {
                    padding: 4px;
                }
            }

            &-offer {
                font-size: 14px;
                font-weight: 600;
                padding: 4px 8px;
                height: 32px;
                min-height: 32px;
            }

            &-action {
                font-size: 15px;
                width: 24px;
                height: 24px;
            }
        }
    }

    @media (width <=1280px) {
        &__filters {
            margin-bottom: 44px;

            &-left {
                align-items: flex-start;
                flex-direction: column;
            }

            &-input {
                --d-input-padding: 8px 16px;

                font-size: 10px;
                font-weight: 400;
                width: 264px;
                height: 30px;

                &-actions {
                    gap: 4px;

                    &-divider {
                        --d-divider-length: 12px;
                    }
                }

                &-button {
                    font-size: 10px;
                    width: 16px;
                    height: 16px;
                }
            }

            &-radio {
                --d-radio-width: 18px;

                &-label {
                    font-size: 10px;
                }
            }
        }

        &__card {
            align-items: flex-start;
            flex-direction: column;
            gap: 12px;

            &-divider {
                display: none;
            }

            &-left,
            &-right {
                justify-content: space-between;
                width: 100%;
            }

            &-right {
                display: flex;
                align-items: center;
                justify-content: space-between;

                &-left {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                }

                &-right {
                    flex-grow: 0;
                    display: flex;
                    align-items: center;
                    gap: 16px;
                }
            }

            &-info {
                &-image {
                    &-container {
                        width: 24px;
                        height: 24px;
                    }
                }

                &-title {
                    font-size: 12px;
                }

                &-description {
                    font-size: 10px;
                }
            }

            &-data {
                flex-grow: 0;
                flex-direction: row;
                gap: 16px;
                border-bottom: 0.5px solid #757575;
                padding-bottom: 8px;
            }

            &-inn {

                &-label,
                &-value {
                    font-size: 10px;
                }
            }

            &-contact {
                font-size: 10px;
            }

            &-price {
                font-size: 10px;
                height: 20px;

                &--secondary {
                    padding: 2px 8px;
                }

                &-container {
                    flex-direction: row;
                }

                &-label {
                    font-weight: 600;
                }
            }

            &-vendor {
                order: -1;
                font-size: 10px;
                font-weight: 400;
                padding: 2px 8px;
                height: 20px;
            }

            &-offer {
                font-size: 10px;
                font-weight: 400;
                padding: 4px 8px;
                height: 24px;
                min-height: 24px;

                &-icon {
                    font-size: 8px;
                    width: 14px;
                    height: 14px;
                }
            }

            &-action {
                font-size: 13px;
                width: 18px;
                height: 18px;

                &-divider {
                    --d-divider-length: 11px;
                    display: block;
                }
            }
        }
    }

    @media (width > 1024px) {
        &__card {

            &-top,
            &-bottom {
                display: none;
            }
        }
    }

    @media (width <=1024px) {
        &__header {
            margin-bottom: 24px;

            &-title {
                font-size: 14px;
            }

            &-description {
                font-size: 10px;
            }
        }

        &__filters {
            align-items: flex-start;
            margin-bottom: 24px;

            &-create {
                font-size: 10px;
                font-weight: 400;
                margin-top: 3px;
                padding: 4px 12px;
                height: 24px;
                min-height: 24px;

                &-icon {
                    font-size: 8px;
                    width: 14px;
                    height: 14px;
                }
            }

            &-radio {
                --d-radio-width: 16px;

                &-wrapper {
                    gap: 8px;
                }
            }
        }

        &__card {

            &-left,
            &-right {
                display: none;
            }

            &-top {
                &-right {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    &-top {
                        display: flex;
                        align-items: center;
                        gap: 16px;
                    }
                }
            }

            &-bottom {
                justify-content: space-between;
                border-top: 0.5px solid #757575;
                padding-top: 12px;

                &-left {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }
            }

            &-info {
                &-address {
                    font-size: 12px;
                    font-weight: 400;

                    &-icon {
                        display: none;
                    }
                }
            }

            &-contact {
                &-container {
                    align-items: center;
                    flex-direction: row;
                    gap: 8px;
                }
            }

            &-price {
                &-container {
                    flex-grow: 0;
                }
            }

            &-vendor {
                order: initial;
            }
        }
    }

    @media (width <=800px) {
        &__header {

            &-title {
                font-size: 12px;
            }

            &-description {
                font-size: 9px;
            }
        }

        &__filters {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;
            justify-items: flex-end;

            &-left,
            &-input-container {
                display: contents;
            }

            &-input {
                --d-input-padding: 4px 8px;

                border-radius: 3px;
                font-size: 8px;
                font-weight: 400;
                width: 100%;
                height: 20px;

                &-button {
                    font-size: 8px;
                    padding: 2px;
                    width: 14px;
                    height: 14px;
                }

                &-actions {
                    gap: 2px;

                    &-divider {
                        --d-divider-length: 8px;
                    }
                }
            }

            &-create {
                font-size: 9px;
                font-weight: 500;
                padding: 2px 8px;
                height: 18px;
                min-height: 18px;
            }

            &-radio {
                --d-radio-width: 14px;

                &-wrapper {
                    justify-content: flex-start;
                    width: 100%;
                }

                &-label {
                    font-size: 9px;
                }
            }
        }

        &__card {
            gap: 8px;
            border-radius: 6px;

            &-top {
                &-right {
                    &-top {
                        gap: 8px;
                    }
                }
            }

            &-bottom {
                align-items: flex-start;
                padding-top: 8px;

                &-left {
                    align-items: flex-start;
                }
            }

            &-info {
                &-title {
                    font-size: 10px;
                }

                &-address {
                    font-size: 9px;
                }
            }

            &-offer,
            &-vendor {
                font-size: 9px;
                font-weight: 500;
                padding: 2px 8px;
                height: 18px;
                min-height: 18px;
            }

            &-contact {
                font-size: 9px;
                font-weight: 400;

                &-container {
                    align-items: flex-start;
                    flex-direction: column;
                }

                &-icon {
                    font-size: 10px;
                    width: 14px;
                    height: 14px;
                }
            }

            &-inn {
                font-size: 8px;

                &-label,
                &-value {
                    font-size: inherit;
                }
            }

            &-price {
                font-size: 8px;
                padding: 4px 8px;
                height: 18px;
            }

            &-action {
                font-size: 10px;
                width: 14px;
                height: 14px;

                &-container {
                    gap: 4px;
                }
            }
        }
    }
}