@font-face {
  font-family: 'Geist';
  src:
    url('/assets/fonts/Geist/Geist-Black.woff2') format('woff2'),
    url('/assets/fonts/Geist/Geist-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src:
    url('/assets/fonts/Geist/Geist-Bold.woff2') format('woff2'),
    url('/assets/fonts/Geist/Geist-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src:
    url('/assets/fonts/Geist/Geist-ExtraBold.woff2') format('woff2'),
    url('/assets/fonts/Geist/Geist-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src:
    url('/assets/fonts/Geist/Geist-ExtraLight.woff2') format('woff2'),
    url('/assets/fonts/Geist/Geist-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src:
    url('/assets/fonts/Geist/Geist-Light.woff2') format('woff2'),
    url('/assets/fonts/Geist/Geist-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src:
    url('/assets/fonts/Geist/Geist-Medium.woff2') format('woff2'),
    url('/assets/fonts/Geist/Geist-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src:
    url('/assets/fonts/Geist/Geist-Regular.woff2') format('woff2'),
    url('/assets/fonts/Geist/Geist-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src:
    url('/assets/fonts/Geist/Geist-SemiBold.woff2') format('woff2'),
    url('/assets/fonts/Geist/Geist-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src:
    url('/assets/fonts/Geist/Geist-Thin.woff2') format('woff2'),
    url('/assets/fonts/Geist/Geist-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

body {
  font-family: 'Geist', sans-serif;
}

[class='d-icon'],
[class^='d-icon-'],
[class*=' d-icon-'] {
  font-size: inherit;
  color: inherit;
  transition-duration: 0.1s;
}

.d-icon-add {
  color: #63c400;
}

.d-icon-delete {
  color: #f92c0d;
}
