// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Responsive Dots
$desktop: "1800px"; // xxl  	d-col-xxl-{1-12}
$small-desktop: "1200px"; // xl		d-col-xl-{1-12}
$tablets: "991px"; // lg		d-col-lg-{1-12}
$small-tablets: "800px"; // md		d-col-md-{1-12}
$big-phones: "600px"; // sm		d-col-sm-{1-12}
$phones: "430px"; // from 0	d-col-{1-12}

// Main settings
$main-padding: 16px;

:root {
  --primary-padding: 32px;

  @media (width > 1440px) {
    --primary-padding: 80px;
  }

  @media (width > 1600px) {
    --primary-padding: 0;
  }

  @media (width <=780px) {
    --primary-padding: 40px 80px;
  }

  @media (width <=600px) {
    --primary-padding: 44px;
  }

  @media (width <= 320px) {
    --primary-padding: 28px;
  }
}